<!doctype html>

<html ng-app="datesModule">
<head>
  <!-- META -->
  <meta charset="utf-8">

  <title>Date shower</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <style>
      html                    { overflow-y:scroll; }
      body                    { padding-top:50px; }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script><!-- load jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script><!-- load angular -->
  <script src="public/controller.js"></script>

</head>
<body ng-controller="mainController">
  <div class="container">
    <label>Day:
      <select name="date.daySelect" ng-model="daySelect" ng-change="setInputs">
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </label>

    <label>Month:
      <select name="date.monthSelect" ng-model="monthSelect" ng-change="setInputs">
        <option value="01">Jan</option>
        <option value="02">Feb</option>
        <option value="03">Mar</option>
        <option value="04">Apr</option>
        <option value="05">May</option>
        <option value="06">Jun</option>
        <option value="07">Jul</option>
        <option value="08">Aug</option>
        <option value="09">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
    </label>

    <label>Year:
      <input type="text" name="date.yearInput" ng-model="yearInput" ng-change="setInputs">
    </label>

    <!-- <div flex-gt-xs>
      <h4>Selected Date:</h4>
      <md-datepicker ng-model="date.datepicker" md-placeholder="Enter date"></md-datepicker>
    </div> -->
  </div>

</body>
</html>
